<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-grid">
        <div class="row">
            <div class="col-lg-9">

                <div style="background-image:url('{% static 'images/store.jpeg' %}');background-size:cover;height:620px;width:140%">
							</div>
                </div></div></div>

<h2 class="text-center"> New Registration </h2>
<form method="POST" enctype="multipart/form-data" style="background-color:#2E5A88">

    {% csrf_token %}
  <div class="container">
  <div class="mb-3 row">
    <label class="form-label">USERNAME</label>
    <input type="text" class="form-control"  name="u" placeholder="Enter Username">
    </div>
    <div class="mb-3 row">
    <label  class="form-label">PASSWORD</label>
    <input type="password" class="form-control" name="p" placeholder="Enter Password">
    </div>
    <div class="mb-3 row">
    <label  class="form-label">CONFIRM PASSWORD</label>
    <input type="password" class="form-control" name="cp" placeholder="Confirm Password">
    </div>
    <div class="mb-3 row">
    <label  class="form-label">FIRST NAME</label>
    <input type="text" class="form-control"  name="f" placeholder="Enter Firstname">
    </div>
     <div class="mb-3 row">
    <label  class="form-label">LAST NAME</label>
    <input type="text" class="form-control"  name="l" placeholder="Enter Lastname">
    </div>
     <div class="mb-3 row">
    <label  class="form-label">EMAIL</label>
    <input type="email" class="form-control"  name="e" placeholder="Enter email">
    </div>
      <div class="mb-3 row">
      <input type="submit" class="form-control" id="submit">
    </div></div><br><br>
</form>
{% endblock %}